body {
  background-color: hsl(226, 43%, 10%);
}

h2 {
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  color: white;
  font-weight: 500;
}

h3 {
  font-family: "Rubik", sans-serif;
  font-size: 45px;
  color: white;
  font-weight: 300;
  position: absolute;
  padding-left: 10%;
  padding-top: 10%;
}

h4 {
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  color: hsl(236, 100%, 87%);
  font-weight: 300;
  position: absolute;
  padding-left: 10%;
  padding-top: 55%;
}

h5 {
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  color: hsl(236, 100%, 87%);
  font-weight: 400;
  margin-left: 10%;
  margin-top: 15%;
  margin-bottom: 2%;
}

h6 {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  color: hsl(235, 45%, 61%);
  font-weight: 400;
  margin-left: 10%;
  margin-top: 8%;
  margin-bottom: 8%;
}

.wrapper {
  display: grid;
  width: 60%;
  grid-template-columns: repeat(auto-fill, 200px);

  row-gap: 20px;
  column-gap: 20px;
  margin-top: 10%;
  margin-left: 20%;
  margin-bottom: 20%;
}

.profile {
  background-color: hsl(235, 46%, 20%);
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: span 2;
  height: 430px;
  border-radius: 5%;
  overflow: hidden;
}

.profileInfoContainer {
  background-color: hsl(246, 80%, 60%);
  height: 65%;
  position: relative;
  border-radius: 5%;
}

.Avatar {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: medium solid white;
  margin-top: 15%;
  margin-left: 10%;
}

.profileName {
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  color: white;
  font-weight: 300;
  position: absolute;
  margin-left: 10%;
}

.dataSelector {
  margin-top: 80%;
}
.work {
  background-color: hsl(15, 100%, 70%);
  border-radius: 5%;
  position: relative;
  overflow: hidden;
}

.work img {
  position: relative;
  float: right;
  padding-right: 6%;
  height: 31%;
  width: 31%;
  margin-top: -6%;
}

.workContent {
  background-color: hsl(235, 46%, 20%);
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  height: 100%;
  position: relative;
  margin-top: 20%;
}

.play {
  background-color: hsl(195, 74%, 62%);
  border-radius: 5%;
  overflow: hidden;
}

.play img {
  position: relative;
  float: right;
  padding-right: 6%;
  height: 31%;
  width: 31%;
  margin-top: -6%;
}

.playContent {
  background-color: hsl(235, 46%, 20%);
  border-radius: 5%;
  height: 100%;
  position: relative;
  margin-top: 20%;
}

.study {
  background-color: hsl(348, 100%, 68%);
  border-radius: 5%;
  overflow: hidden;
}

.study img {
  position: relative;
  float: right;
  padding-right: 6%;
  height: 31%;
  width: 31%;
  margin-top: -6%;
}

.studyContent {
  background-color: hsl(235, 46%, 20%);
  border-radius: 5%;
  height: 100%;
  position: relative;
  margin-top: 20%;
}

.exercise {
  background-color: hsl(145, 58%, 55%);
  border-radius: 5%;
  overflow: hidden;
}

.exercise img {
  position: relative;
  float: right;
  padding-right: 6%;
  height: 31%;
  width: 31%;
  margin-top: -6%;
}

.exerciseContent {
  background-color: hsl(235, 46%, 20%);
  border-radius: 5%;
  height: 100%;
  position: relative;
  margin-top: 20%;
}

.social {
  background-color: hsl(264, 64%, 52%);
  border-radius: 5%;
  overflow: hidden;
}

.social img {
  position: relative;
  float: right;
  padding-right: 6%;
  height: 31%;
  width: 31%;
  margin-top: -6%;
}

.socialContent {
  background-color: hsl(235, 46%, 20%);
  border-radius: 5%;
  height: 100%;
  position: relative;
  margin-top: 20%;
}

.selfcare {
  background-color: hsl(43, 84%, 65%);
  border-radius: 5%;
  overflow: hidden;
}

.selfcare img {
  position: relative;
  float: right;
  padding-right: 6%;
  height: 31%;
  width: 31%;
  margin-top: -6%;
}

.selfcareContent {
  background-color: hsl(235, 46%, 20%);
  border-radius: 5%;
  height: 100%;
  position: relative;
  margin-top: 20%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.cardTitle {
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  width: 170px;
  height: auto;
  padding-top: 10%;
  padding-left: 10%;
}

.cardTitle img {
  height: 3px;
  width: 15px;
}

.cardTitle img:hover {
  cursor: pointer;
}
.workContent:hover {
  cursor: pointer;
  background-color: rgb(52, 57, 123);
}

.studyContent:hover {
  cursor: pointer;
  background-color: rgb(52, 57, 123);
}

.exerciseContent:hover {
  cursor: pointer;
  background-color: rgb(52, 57, 123);
}

.socialContent:hover {
  cursor: pointer;
  background-color: rgb(52, 57, 123);
}

.playContent:hover {
  cursor: pointer;
  background-color: rgb(52, 57, 123);
}
.selfcareContent:hover {
  cursor: pointer;
  background-color: rgb(52, 57, 123);
}

h6:hover {
  color: white;
  cursor: pointer;
}
